body {
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container .card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 16px;
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro .dp img {
  width: 100%;
  max-width: 270px;
}
.intro .bio {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.intro .bio .info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #4f4f4f;
}
.intro .bio .info .name {
  font-size: 18px;
  font-weight: 600;
}

.intro .bio .info .role {
  color: #828282;
}

.intro .bio .info .material-icons {
  font-size: 14px;
  margin-right: 16px;
}
.intro .bio .info .contact > div {
  display: flex;
  align-items: center;
}
.intro .bio .info .email {
  line-height: 29px;
}
.intro .bio .summary {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  color: #828282;
}
.prof-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.prof-details aside {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .skills .card-header {
    font-size: 18px;
    font-weight: 700;
  }
  .skill-list {
    display: flex;
    flex-direction: column;
  }
  .skill-list .skill-item {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .skill-list .skill-item .skill-name {
    width: 40%;
  }
  .skill-list .skill-item .skill-meter {
    width: 60%;
    height: 10px;
    border-radius: 12px;
    background: #c4c4c4;
  }
  .skill-meter .meter {
    width: 0;
    height: 100%;
    background-color: #2f80ed;
    border-radius: 12px;
  }
  .skill-meter .meter.w-10 {
    width: 10%;
  }
  .skill-meter .meter.w-20 {
    width: 20%;
  }
  .skill-meter .meter.w-30 {
    width: 30%;
  }
  .skill-meter .meter.w-40 {
    width: 40%;
  }
  .skill-meter .meter.w-50 {
    width: 50%;
  }
  .skill-meter .meter.w-60 {
    width: 60%;
  }
  .skill-meter .meter.w-70 {
    width: 70%;
  }
  .skill-meter .meter.w-80 {
    width: 80%;
  }
  .skill-meter .meter.w-90 {
    width: 90%;
  }
  .skill-meter .meter.w-100 {
    width: 100%;
  }
  .aside-right {

  }
@media all and (min-width: 767px) {
}

@media all and (min-width: 1023px) {
  .container {
    margin-top: 70px;
    gap: 32px;
  }
  .container .card {
    padding: 24px;
  }
  .intro {
    flex-direction: row;
  }
  .intro .dp {
    width: 30%;
    margin-right: 10px;
  }
  .intro .dp img {
  }
  .intro .bio {
    padding-left: 22px;
    width: 70%;
    font-size: 18px;
  }
  .intro .bio .info {
    flex-direction: row;
    justify-content: space-between;
  }
  .intro .bio .info .name {
    font-size: 24px;
  }
  .intro .bio .info .material-icons {
    font-size: 18px;
  }
  .prof-details {
    flex-direction: row;
    gap: 32px;
  }
  aside {
    width: 40%;
    gap: 32px;
  }
  .aside-right {
    width: 60%;
  }
}

@media all and (min-width: 1399px) {
    .container {
        width: 80%;
        
      }
}