@let open = this.open();
<div class="border-b border-line overflow-hidden">
  <div
  tabindex="0"
    role="button"
    [attr.aria-expanded]="open"
    (click)="toggle()"
    class="border-b border-line flex gap-2 items-center py-2.5 px-8 text-white cursor-pointer hover:bg-hover transition"
  >
    <svg
      class="w-5 h-5 transform transition-transform duration-300"
      [ngClass]="{ 'rotate-180': open }"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
    </svg>
    <h3>{{ title() }}</h3>
  </div>
  <div
    class="py-4 px-8 overflow-hidden transition-all duration-300 ease-in-out"
    [style.maxHeight]="open ? '500px' : '0px'"
    [style.paddingTop]="open ? '0.75rem' : '0'"
    [style.paddingBottom]="open ? '0.75rem' : '0'"
  >
    @if (open) {
    <ng-content></ng-content>
    }
  </div>
</div>
