@if (isOpen()) {
<div class="fixed inset-0 flex items-center justify-center backdrop-blur z-50">
  <div
    class="bg-background text-secondary rounded-2xl shadow-2xl w-11/12 max-w-3xl p-6 border border-line transform transition-all duration-300 scale-100"
  >
    <div class="flex justify-between items-center mb-4">
      <ng-content select="[modal-title]"></ng-content>
      <button (click)="close.emit()" class="text-secondary text-2xl hover:text-white">
        <i class="ri-close-large-fill"></i>
      </button>
    </div>
    <div class="leading-relaxed">
      <ng-content select="[modal-body]"></ng-content>
    </div>
    <div class="mt-6 text-right">
      <ng-content select="[modal-actions]"></ng-content>
    </div>
  </div>
</div>
}
