<div
  class="border-desat-dark-blue rounded-2xl shadow-lg bg-dark-blue-3 transition hover:shadow-xl w-96"
>
  @if (image(); as image) {
  <img
    [src]="image"
    alt="Card image"
    class="w-96 h-36 object-cover rounded-t-2xl mb-4"
  />
  }

  <div class="p-6 space-y-2">
    <div class="my-6">
      @if (description(); as description) {
      <p class="text-desat-blue text-lg">{{ description }}</p>
      }

      <ng-content></ng-content>
      <!-- For custom content inside the card -->
    </div>

    <app-button label="view-project"></app-button>
  </div>
</div>
