<section class="flex h-full overflow-hidden">
  <aside class="flex flex-col w-76 h-full border-r border-line">
    <app-accordion-group [isMulti]="true">
      <app-accordion [title]="'Personal Info' | customCase">
        Angular is a TypeScript-based web framework by Google.
      </app-accordion>

      <app-accordion title="contacts">
        Tailwind is a utility-first CSS framework for designing custom UIs.
      </app-accordion>
    </app-accordion-group>
  </aside>
  <div class="flex-1 flex flex-col h-full">
    <header class="flex border-b border-line">
      <div class="py-2.5 px-6 border-r border-line">
        {{ "Personal Info" | customCase }} X
      </div>
    </header>
    <div
      class="flex-1 flex gap-6 flex-wrap p-20 max-h-full overflow-auto"
    ></div>
  </div>
</section>
