<h1 class="text-6xl font-bold">Hello world!</h1>

<app-project-card
  description="nlihds nfesjn kjfbdsk jkfds jdd jdk kh dhj hdsjkdh"
  image="https://s3-alpha-sig.figma.com/img/7528/5484/365d19e34a9b8b6aaf44834adb10c285?Expires=1745798400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=a7GmN1oOSe48aSilEvgYhpJKypYcq7LdXjsqQThib-OMvDVAkLFqU~vLgALCptzGmaF3VibFf3GF6LRLUdBqFjGkAktIGFzgeqYUIjgmEJqdnNiTjmdDzzv280Mlc74BDjZXmas60Ryvk59k8z7xMuUnWrqsXUFAgZ1YtnDfUjZ~7z8OT3-3b6Ly2UhvJ-5G7Kc~FmUr-NuW94t-jOOnKJvKJwa9thz3i8eaNfducpBxnc~ar0tcCfsc-HiaVnenlt3woPbWllKXp9ltmQwHrXG48urQFASFaUXOh1PMUWzDOzw6xHXM7N8zGt2xqedwlF9wTk2nu31kXnoNMu0K-g__"
></app-project-card>
