<header class="flex justify-between border-t border-t-line">
  <div class="flex">
    <a class="link px-3.5 py-3">find me on: </a>

    @for (item of socials; track item.icon; let first = $first) {
    <a [href]="item.link" target="_blank" class="link px-3.5 py-3 border-r" [class.border-l]="first">
      <i class="text-2xl {{item.icon}}"></i>
    </a>
    }
  </div>

  <a class="link border-l px-3.5 py-3" href="https://github.com/rohtashsethi" target="_blank"> {{githubUsername}} <i class="text-2xl ri-github-fill"></i></a>
</header>
