@let selectedFilterStr = this.selectedFilterStr();
@let filteredProjects = this.filteredProjects();
@let filterTitle = title + ' {' + filteredProjects.length + '}';
<section class="flex h-full overflow-hidden">
  <aside class="flex flex-col w-76 h-full border-r border-line">
    <app-accordion [title]="filterTitle" [open]="isOpen()">
      <app-checkbox-group
        [options]="filters.value()"
        [selectedValues]="selectedFilters()"
        (selectedValuesChange)="selectedFilters.set($event)"
      >
      </app-checkbox-group>
    </app-accordion>
  </aside>
  <div class="flex-1 flex flex-col h-full">
    @if (selectedFilterStr) {
    <header class="flex items-center border-b border-line">
      <div class="flex items-center gap-20 py-2.5 px-4 border-r border-line">
        <span>{{ selectedFilterStr }}</span>
        <i
          tabindex="0"
          role="button"
          aria-label="clear filters"
          class="cursor-pointer ri-close-large-fill"
          (click)="selectedFilters.set([])"
        ></i>
      </div>
    </header>
    } 
    <div class="flex-1 flex gap-10 flex-wrap p-10 max-h-full overflow-auto">
      @if (projects.isLoading()) {
      <p class="text-secondary">// Loading...</p>
      } @else if (filteredProjects.length) { @for (project of filteredProjects;
      track project.name) {
      <div>
        <h2 class="flex gap-5 mb-3.5">
          <span class="text-mod-blue font-bold">{{ project.name }}</span>
          <span>// {{ project.name | customCase }}</span>
        </h2>
        <app-card
          [description]="project.description"
          [image]="project.image"
          [defaultImage]="defaultImage"
          [url]="project.url"
          [linkLabel]="linkLabel"
        ></app-card>
      </div>
      } } @else if (selectedFilterStr) {
      <p class="text-secondary">
        // No projects belong to the selected filters.
      </p>
      } @else { // No projects are available. }
    </div>
  </div>
</section>
