@let selectedFilterStr = this.selectedFilterStr();
@let filteredTalks = this.filteredTalks();
@let filterTitle = title + ' {' + filteredTalks.length + '}';
<section class="flex h-full overflow-hidden">
  <aside class="flex flex-col w-76 h-full border-r border-line">
    <app-accordion [title]="filterTitle" [open]="isOpen()">
      <app-checkbox-group
        [options]="filters.value()"
        [selectedValues]="selectedFilters()"
        (selectedValuesChange)="selectedFilters.set($event)"
      >
      </app-checkbox-group>
    </app-accordion>
  </aside>
  <div class="flex-1 flex flex-col h-full">
    @if (selectedFilterStr) {
    <header class="flex items-center border-b border-line">
      <div class="flex items-center gap-20 py-2.5 px-4 border-r border-line">
        <span>{{ selectedFilterStr }}</span>
        <i
          tabindex="0"
          role="button"
          aria-label="clear filters"
          class="cursor-pointer ri-close-large-fill"
          (click)="selectedFilters.set([])"
        ></i>
      </div>
    </header>
    }
    <div class="flex-1 flex gap-10 flex-wrap p-10 max-h-full overflow-auto">
      @if (talks.isLoading()) {
      <p class="text-secondary">// Loading...</p>
      } @else if (filteredTalks.length) { @for (talk of filteredTalks; track
      talk.title) {
      <div>
        <h2 class="flex gap-5 mb-3.5">
          <span class="text-mod-blue font-bold">{{ talk.title }}</span>
        </h2>
        <app-card
          class="cursor-pointer"
          [description]="talk.description"
          [image]="talk.image"
          [defaultImage]="defaultImage"
          [linkLabel]="linkLabel"
          (click)="openTalkDetails(talk)"
        ></app-card>
      </div>
      } } @else if (selectedFilterStr) {
      <p class="text-secondary">// No talks belong to the selected filters.</p>
      } @else {
      <p class="text-secondary">// No talks are available.</p>
      }
    </div>
  </div>
</section>

@if (selectedTalk(); as selectedTalk) {
<app-modal [isOpen]="isModalOpen()" (close)="closeModal()">
  <div modal-title>
    <h2 class="text-xl font-semibold text-white">
      🧠 {{ selectedTalk.title }}
    </h2>
  </div>

  <div class="flex flex-col gap-3" modal-body>
    <p class="text-secondary">
      {{ selectedTalk.description }}
    </p>
    <p>
      <label> Event: </label> <span> {{ selectedTalk.event }} </span>
    </p>
    <p>
      <label> Event Type: </label> <span> {{ selectedTalk.eventType }} </span>
    </p>
    <p>
      <label> Event Mode: </label> <span> {{ selectedTalk.mode }} </span>
    </p>
    <p>
      <label> Attendees Count: </label>
      <span> {{ selectedTalk.audience }}+ </span>
    </p>
    <div class="flex gap-5">
      @if (selectedTalk.slidesUrl) {
      <a target="_blank" [href]="selectedTalk.slidesUrl">
        <app-button>
          <i class="text-lg ri-file-ppt-2-fill"></i>
          <span>slides</span>
          <i class="text-lg ri-external-link-fill"></i>
        </app-button>
      </a>
      } @if (selectedTalk.videoUrl) {
      <a target="_blank" [href]="selectedTalk.videoUrl">
        <app-button>
          <i class="text-lg ri-youtube-fill"></i>
          <span>video</span>
          <i class="text-lg ri-external-link-fill"></i>
        </app-button>
      </a>
      } @if (selectedTalk.demoUrl) {
      <a target="_blank" [href]="selectedTalk.demoUrl">
        <app-button>
          <i class="text-lg ri-macbook-fill"></i>
          <span>demo</span>
          <i class="text-lg ri-external-link-fill"></i>
        </app-button>
      </a>
      } @if (selectedTalk.sourceCodeUrl) {
      <a target="_blank" [href]="selectedTalk.sourceCodeUrl">
        <app-button>
          <i class="text-lg ri-code-s-slash-fill"></i>
          <span>source-code</span>
          <i class="text-lg ri-external-link-fill"></i>
        </app-button>
      </a>
      }
    </div>
  </div>

  <div class="flex justify-end" modal-actions>
    <app-button label="Close" (click)="closeModal()"></app-button>
  </div>
</app-modal>
}
