<div class="mb-4">
  <div class="space-y-2">
    @for (option of options(); track option) {
    <div class="flex items-center gap-4">
      <input
        type="checkbox"
        [checked]="isChecked(option)"
        (change)="toggleCheckbox(option)"
        id="{{ option.value }}"
        class="accent-blue-600"
      />
      <label for="{{ option.value }}" class="flex gap-2 items-center text-secondary cursor-pointer">
        <i class="text-2xl {{option.icon}}"></i>
        {{ option.label }}
      </label>
    </div>
    }
  </div>
</div>
