/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@import "remixicon/fonts/remixicon.css";

@theme {
  --default-font-family: "Fira Code", monospace;
  --color-dark-blue: #01080e;
  --color-dark-blue-2: #011627;
  --color-dark-blue-3: #011221;
  --color-desat-dark-blue: #1e2d3d;
  --color-desat-very-dark-blue: #1c2b3a;
  --color-desat-very-dark-blue-2: #263b50;
  --color-mod-blue: #4d5bce;
  --color-desat-blue: #607b96;
  --color-dark-cyan: #3c9d93;
  --color-soft-cyan: #43d9ad;
  --color-soft-orange: #fea55f;
  --color-light-orange: #ffac6b;
  --color-soft-red: #e99287;
  --color-soft-voilet: #c98bdf;

  --color-primary: var(--color-dark-blue);
  --color-secondary: var(--color-desat-blue);
  --color-line: var(--color-desat-dark-blue);

  --color-btn-primary: var(--color-soft-orange);
  --color-btn-default: var(--color-desat-very-dark-blue);

  --color-background: var(--color-dark-blue-2);
  --color-hover: var(--color-dark-blue-3);
}

@layer base {

  :root {
    --checkbox-backgroud: #1e2d3d;
    --checkbox-border: #607b96;
    --checkbox-disabled: #959495;
  }

  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: var(--checkbox-backgroud);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15rem;
    height: 1.15rem;
    border: 0.15rem solid var(--checkbox-border);
    border-radius: 0.25rem;
    transform: translateY(-0.075rem);

    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--checkbox-backgroud);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  input[type="checkbox"]:checked {
    --checkbox-backgroud: #607b96;
  }

  input[type="checkbox"]:checked::before {
    --checkbox-backgroud: white;
    transform: scale(1);
  }

  input[type="checkbox"]:focus {
    outline: max(2px, 0.15rem) solid #607B964D;
  }
  
  input[type="checkbox"]:disabled {
    --checkbox-backgroud: var(--checkbox-disabled);
  
    color: var(--checkbox-disabled);
    cursor: not-allowed;
  }

  .link {
    color: var(--color-secondary);
    padding: 1rem 2rem;
    border-color: var(--color-line);
    display: flex;
    gap: .5rem;
    align-items: center;
  }

  body {
    background-color: var(--color-background);
    border: 1px solid var(--color-line);
  }
}
