/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --default-font-family: "Fira Code", monospace;
  --color-dark-blue: #01080E;
  --color-dark-blue-2: #011627;
  --color-dark-blue-3: #011221;
  --color-desat-dark-blue: #1E2D3D;
  --color-desat-very-dark-blue: #1c2b3a;
  --color-desat-very-dark-blue-2: #263B50;
  --color-mod-blue: #4D5BCE;
  --color-desat-blue: #607B96;
  --color-dark-cyan: #3C9D93;
  --color-soft-cyan: #43D9AD;
  --color-soft-orange: #FEA55F;
  --color-light-orange: #ffac6b;
  --color-soft-red: #E99287;
  --color-soft-voilet: #C98BDF;
}
